.children-container{
    display: block;
    padding: 15px;
    font-family: 'Fjalla One', sans-serif;

}
.children-grid{
    display: grid;
    padding: 15px;
    padding-left: 2.5vw;
    grid-template-columns: repeat(3, 25vw);
    grid-auto-rows: minmax(20vh,auto);
    grid-column-gap: 2.5vw;
}
.children-item{
    border: 1px solid #009973;
    padding: 5px;
}
.btn{
    Color: #009973;
    cursor: pointer;
}

.children-signup{
    display: relative;
    padding: 10px;
    background-color: white;
    border: 2px solid #009973;
    width: 50vw; 
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form{
 margin:0;
 padding:0;
}


.submit{
 transform: translateY(-50%);
   background: transparent;
   border:none;
   font-weight: bold;
   color:#009973;
   cursor: pointer;
   line-height: 5px;

}

@media only screen and (max-width: 912px) {
    .children-grid{
        display: grid;
        padding: 5px;
        padding-left: 1.5vw;
        grid-template-columns: repeat(3, 45vw);
        grid-auto-rows: minmax(20vh,auto);
        grid-column-gap: 2.5vw;
    }
    .submit{
        transform: translate(0,-50%);
    }
}

