.footer-container{
    background-color: #009973; 
    font-family: 'Fjalla One', sans-serif;
    min-height: 10vh;
    overflow-y: hidden;
    display: flex;

}
.footer-left{
    color: white;
    font-size:  20px;
    padding: 4px;
    padding-left: 10px;
    width: 60%
}
.footer-right{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(2, 15vw);
    color:white
}
.icon{
    transform: translate(-25%,25%);
}

.phone{
    padding-left: 15px

}

@media only screen and (max-width: 912px){
    .footer-right{
        display: none;
        padding:10px;
        font-size: 10px;
        text-align: left;

    }
    .footer-left{

        width: 100%;
        text-align: center;
    }
    
}